body{
    font: 1em/1.8 Georgia, Times, serif;
    color: #333;
}

#wrap{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 4em;
}

h1{
    float: left;
    margin-bottom: 0;
}

h1 ~ p{
    clear: both;
    margin: -2em 0 3em 0;
    font-size: .8125em;
    font-family: Helvetica, serif;
}

.target{
    clear: both;
    width: 32em;
    float: left;
    margin-right: 4em;
}

.target nav{
    overflow: hidden;
}

.target nav span{
    display: block;
    float: left;
    cursor: pointer;
    min-width: 60px;
    text-align: center;
    padding: .5em;
    border: 1px solid #ccc;
    font-size: .875em;
}

.target nav span.active{
    background: #333;
    color: #fff;
}

.target nav span:last-child{
    margin-left: -1px;
}

.tab{
    padding: 0 1em;
    display: none;
    border: 1px solid #ccc;
    margin-top: -1px;
}

.tab.active{
    display: block;
}

.panel{
    width: 24em;
    float: left;
    padding-left: 2em;
    margin-top: 2.5em;
    background: #fff;
}

.panel table tr{
    line-height: 3em;
}

.panel table th{
    text-align: left;
    padding-right: 1em;
    min-width: 11em;
}

.panel input[type="text"]{
    font-family: Helvetica, serif;
    width: 100%;
}